@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap");

body {
  background-color: hsl(225, 100%, 94%);
  background-image: url("images/pattern-background-desktop.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Poppins", sans-serif;
  /* padding: auto; */
}
.card {
  width: 400px;
  height: 550px;
  margin: 100px auto;
  box-shadow: -2px 1px 21px -10px rgba(0, 0, 0, 0.75);
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  background-color: white;
}

.card-header {
  /* width: 100vh; */
  height: 30%;
  margin-bottom: 50px;
  overflow: hidden;
  border: 1px solid red;
  margin: -10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.summary p {
  color: hsl(227, 5%, 36%);
}

.subscription {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightgrey;
  padding: 10px 20px;
  border-radius: 5px;
  margin: 30px 0;
  height: 50px;
}
.subPlan {
  display: flex;
  align-items: center;
}
.subPlan img {
  margin-right: 20px;
}

.subPlan p span {
  font-weight: 900;
  line-height: 25px;
}
.subChange {
  font-weight: 700;
  letter-spacing: 2px;
}

.subChange a:hover {
  font-weight: 500;
  color: hsl(227, 5%, 36%);
  text-decoration: none;
}

button {
  background-color: blue;
  width: 100%;
  padding: 10px;
  color: white;
  margin-bottom: 30px;
  letter-spacing: 2px;
  border-radius: 5px;
}
button:hover {
  background-color: hsl(224, 23%, 55%);
  box-shadow: -2px 4px 27px 0px rgba(0, 0, 0, 0.75);
}
.subBtn a {
  text-decoration: none;
  color: hsl(227, 5%, 36%);
  letter-spacing: 2px;
}

.subBtn a:hover {
  font-weight: 700;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: -100px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 375px) {
  .card {
    width: 90%;
  }
  .subscription {
    font-size: 12px;
  }
} ;
